*{
    margin: 0 auto;
    padding: 0 auto;
}

.encabezado{
    padding: 20px;
    display: flex;
    background-color: lightgreen;
}

.contenido{
    background-color: aliceblue;
}

.datosPedidos{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.registrosRealizados{
    flex-flow: row wrap;
    padding: 10px;
}

.registrosRealizados h2{
    text-align: center;
}

.registrosRealizados2{
    display: flex;
    background-color: lightgreen;
    padding: 3%;
}

.totales{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.piePag{
    padding: 20px;
    display: flex;
    color: white;
    background-color: green;
    text-align: center;
}

@media screen and (max-width: 700px){
    .contenido, .datosPedidos, .totales{
        display: flex;
        flex-flow: column wrap;
    }

    .encabezado{
        text-align: center;
    }

    .registrosRealizados{
        width: 100%;
        padding: 0;
    }
}
